<!-- 
Essential Scripts
=====================================-->
<script src="/user_public/plugins/jquery/jquery.min.js"></script>
<script src="/user_public/plugins/bootstrap/popper.min.js"></script>
<script src="/user_public/plugins/bootstrap/bootstrap.min.js"></script>
<script src="/user_public/plugins/bootstrap/bootstrap-slider.js"></script>
<script src="/user_public/plugins/tether/js/tether.min.js"></script>
<script src="/user_public/plugins/raty/jquery.raty-fa.js"></script>
<script src="/user_public/plugins/slick/slick.min.js"></script>
<script src="/user_public/plugins/jquery-nice-select/js/jquery.nice-select.min.js"></script>
<!-- google map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU" defer></script>
<script src="/user_public/plugins/google-map/map.js" defer></script>

<script src="/user_public/js/script.js"></script>

</body>

</html>
